<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-accordion-group>
        <ion-accordion>
            <ion-item slot="header">Test</ion-item>
            <div slot="content">
                <!--Tapping on the input sets the focus to the input and opens the keyboard-->
                <!--Tapping on the div afterwards does not remove the focus from the input and close the keyboard which I think is a bug-->
                <div style="padding: 20px; font-size: 20px;">Test</div>
                <ion-item>
                    <ion-input></ion-input>
                </ion-item>
            </div>
        </ion-accordion>
    </ion-accordion-group>

    <!--Tapping on the input sets the focus to the input and opens the keyboard-->
    <!--Tapping on the div afterwards removes the focus from the input and closes the keyboard, as expected-->
    <div style="padding: 20px; font-size: 20px;">Test</div>
    <ion-item>
        <ion-input></ion-input>
    </ion-item>
</ion-content>
